<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pokemonLeslieYaneth.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
				<key>dateExpires</key>
				<string>17/12/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Disk.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JSQSystemSoundPlayer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Presentr.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Siren.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SpreadsheetView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6D11293ED9EF5A6DA7316B88764A7F9B79D06E1</string>
						<key>dateExpires</key>
						<string>17/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQ4W36VL63</string>
						<key>name</key>
						<string>DIRECTORIO MEXICO, SA DE CV</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FQ4W36VL63.mx.yappapp.yapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>FQ4W36VL63</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>FQ4W36VL63.mx.yappapp.yapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>pokemonLeslieYaneth.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c7f7c50d-87be-4f74-b08b-de7e3d27e79b</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: mx.yappapp.yapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FQ4W36VL63</string>
				<key>name</key>
				<string>DIRECTORIO MEXICO, SA DE CV</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
